* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: rgb(60, 207, 91) ;
    }

  header>div{
    display: flex;
    justify-content: space-around;
  }


